/* ==========================================================================
// Super Table Settings
// ========================================================================== */

.supertable-configurator > .field {
    max-width: none;
}

.supertable-configurator > .field > .input {
    min-height: 400px;
    position: relative;
    display: flex;
}

.supertable-configurator .settings-hidden {
    position: fixed;
    z-index: -1;
    display: none;
}

.supertable-configurator .stc-sidebar {
    width: 200px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ced9e5;
    background-color: #f3f7fc;
}

.supertable-configurator .stc-sidebar > .col-inner-container > .field-items {
    margin-top: -1px;
    padding-top: 1px;
}

.supertableconfigitem {
    position: relative;
    margin-top: -1px;
    border-bottom: 1px solid rgba(51, 64, 77, 0.1);
    background-color: #e4edf6;
    cursor: default;
}

body.ltr .supertableconfigitem {
    padding: 11px 45px 10px 14px;
}

body.rtl .supertableconfigitem {
    padding: 11px 14px 10px 45px;
}

.supertableconfigitem.sel {
    background-color: #cdd8e4;
}

.supertableconfigitem .handle {
    font-size: 11px;
    color: #8f98a3;
}

.supertableconfigitem .actions {
    position: absolute;
    width: 24px;
}

body.ltr .supertableconfigitem .actions {
    right: 0;
}

body.rtl .supertableconfigitem .actions {
    left: 0;
}

.supertableconfigitem.stci-field .actions {
    top: 20px;
}

.supertableconfigitem .actions .icon {
    display: block;
    margin-bottom: 1px;
    text-align: center;
}

.supertable-configurator .stc-sidebar > .col-inner-container > .field-items .btn {
    margin: 14px;
}

.supertable-configurator .stc-settings {
    border: 1px solid #ced9e5;
    border-radius: 0 4px 4px 0;
    flex-grow: 1;
    flex-shrink: 9999;
}

body.ltr .supertable-configurator .stc-settings {
    border-left: 0;
}

body.rtl .supertable-configurator .stc-settings {
    border-right: 0;
}

.supertable-configurator .stc-settings > .col-inner-container > .field-items {
    padding: 24px;
}

.supertable-configurator .stc-sidebar > .col-inner-container > .heading,
.supertable-configurator .stc-settings > .col-inner-container > .heading {
    padding: 7px 14px 6px;
    margin: 0;
    border-bottom: 1px solid rgba(51, 64, 77, 0.1);
    background-color: #f3f7fc;
    background-image: linear-gradient(rgba(51, 64, 77, 0), rgba(51, 64, 77, 0.05));
}

.supertable-configurator .stc-settings > .col-inner-container > .heading {
    padding-left: 24px;
}



/* ==========================================================================
// Matrix > Super Table > Matrix Fixes
// ========================================================================== */

.matrix-configurator .supertable-configurator .matrix-configurator .mc-sidebar .items {
    padding: 0;
}

/* Fix for outer Matrix > ST > Matrix container to allow x-axis scrolling. Otherwise, very difficult to use */
/* This actually applies to all Matrix fields everywhere, but testing hasn't proved any issues yet... */
.matrix-configurator > .field > .input {
    overflow-x: auto;
    display: flex;
}

.matrix-configurator > .field > .input > .field-settings {
    width: 100%;
}

