// ==========================================================================
// Super Table Styles
// ==========================================================================

.superTableContainer {
    position: relative;
}

.superTable-table {
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #cdd8e4;
}

.superTable-table tbody tr td {
    vertical-align: middle;
    text-align: left;
    background: #fff;
}

.superTable-table tbody tr td:not(:first-child),
.superTable-table tbody tr th ~ td:not(.hidden) ~ td {
    border-left: 1px solid rgba(51, 64, 77, 0.1);
}

.superTable-table tbody tr:not(:first-child) td {
    border-top: 1px solid rgba(51, 64, 77, 0.1);
}

.superTable-table tbody tr td:not(.textual) {
    padding: 4px 10px;
}

.superTable-table tbody tr td > .field > .heading,
.superTable-table tbody tr td > .field > .instructions {
    display: none;
}

.superTable-table tbody tr td.action {
    background: #f3f7fc;
    padding: 4px 7px;
}

.superTable-table tbody tr td.action + td.action {
    padding-left: 3px;
    border-left: none;
}


// ==========================================================================
// Column-Layout Styles
// ==========================================================================

.superTable-layout-table {
    table-layout: fixed;
}

.superTable-layout-table thead tr th {
    border-bottom: 1px solid rgba(51, 64, 77, 0.1);
}

.superTable-layout-table thead tr th,
.superTable-layout-table tbody tr th {
    padding: 6px 10px;
}

.superTable-layout-table {
    thead tr th:nth-child(2) {
        border-top-left-radius: 4px;
    }

    thead tr th:last-child {
        border-top-right-radius: 4px;
    }

    tbody tr:last-child td:nth-child(2) {
        border-bottom-left-radius: 4px;
    }

    tbody tr:last-child td:last-child {
        border-bottom-right-radius: 4px;
    }
}

.superTable-layout-table tbody tr td:nth-child(2) {
    border-left: 0;
}

.superTable-layout-table th,
.superTable-layout-table td.action {
    color: #7b8793;
    font-weight: normal;
    background-color: #f3f7fc;
}

.superTable-layout-table th.col-header[colspan="2"] {
    width: 51px;
}

// Tweak the required asterisks a little
.superTable-layout-table .col-header .heading-text.required:after {
    margin: -4px 0 0 1px;
}

// Tweak the info icon a little
.superTable-layout-table .col-header .heading-text {
    position: relative;
}

.superTable-layout-table .col-header .heading-text .info {
    position: absolute;
    top: 0;
    right: -20px;
}

.superTable-layout-table + .btn.add {
    display: block;
    border-radius: 0 0 4px 4px;
    border: 1px dashed rgba(81, 95, 108, 0.25);
    border-top-width: 0;
    background: transparent;
    box-shadow: none;
}




// ==========================================================================
// Row-Layout Styles
// ==========================================================================

.superTableRow {
    margin: 10px 0;
}

.superTableRow .rowHeader {
    vertical-align: top;
    line-height: 1.2;
    color: #8f98a3;
    font-weight: normal;
    border-radius: 4px 4px 0 0;
    padding: 8px 7px !important;
    text-align: left;
    white-space: nowrap;
    background: #f1f5f8;
}

.superTableRow .rowHeader .heading-text {
    min-height: 30px;
    display: block;
}

// Tweak the required asterisks a little
.superTableRow .rowHeader .heading-text.required:after {
    margin: -4px 0 0 1px;
}

// Tweak the info icon a little
.superTableRow .rowHeader .heading-text .info:before {
    margin: 1px 0 0 1px;
}

.superTableRow .placeholder {
    width: 25px !important;
}

.superTableRow table {
    position: relative;
}

.superTableRow tfoot tr {
    right: 0;
    width: 45px;
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
    background: #f1f5f8;
    opacity: 1;

    border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.superTable-layout-row tbody tr td:nth-child(2) {
    border-left: 1px solid #e0e4e7;
}

.superTableRow .floating .icon.move:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -17px;
}

.superTableRow .floating .icon.delete:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 3px;
}

// Special-case for inner Matrix fields for Row Layout. When collapsed, breaks out of the table container
// so fix that was some positioning fixes
.superTableRow .matrixblock.collapsed .titlebar {
    position: relative;
}

.superTableRow .matrixblock.collapsed .preview {
    position: absolute;
}

.superTableRow .matrixblock.collapsed .actions {
    background: #eef0f1;
    right: 0;
    padding-right: 5px;
}

// More layout fixes for Matrix
.superTableContainer .matrix-field .buttons {
    margin: 0;
}

.superTableContainer .matrix-field {
    padding: 6px 0;
}



// ==========================================================================
// New Row-Layout Styles
// ==========================================================================

.superTable-layout-row-new {
    position: relative;
    border-radius: 4px;
    border: 1px solid #cdd8e4;
    width: 100%;
    margin-top: 10px;
    // box-shadow: 0 1px 5px -1px rgba(0,0,0,0.1);
}

.superTable-layout-row-new-body {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) 46px;

    &.static-field {
        grid-template-columns: auto minmax(0, 1fr) 0;
    }
}

.superTable-layout-row-new-body .rowHeader {
    max-width: 180px;
    white-space: normal;
    border-radius: 0;
    border-top: 1px solid rgba(51,64,77,0.1);

    color: #7b8793;
    font-weight: normal;
    background-color: #f3f7fc;
}

.superTable-layout-row-new-field {
    border-left: 1px solid #e0e4e7;
    padding: 4px 10px;
    border-top: 1px solid rgba(51,64,77,0.1);
    background: #fff;

    // Don't even think about uncommenting this. Is particularly messes up Icon Picked dropdowns
    // but very likely other fields.
    // overflow: hidden;

    & > .field > .heading,
    & > .field > .instructions {
        display: none;
    }
}

.superTable-layout-row-new-body > :nth-child(1),
.superTable-layout-row-new-body > :nth-child(2),
.superTable-layout-row-new-body > :nth-child(3) {
    border-top: none;
}

.superTable-layout-row-new-body {
    > :nth-child(1) {
        border-top-left-radius: 4px;
    }

    > :nth-last-child(3) {
        border-bottom-left-radius: 4px;
    }
}

.superTable-layout-row-new-body.static-field {
    > :nth-child(2) {
        border-top-right-radius: 4px;
    }

    > :nth-last-child(2) {
        border-bottom-right-radius: 4px;
    }
}

.superTable-layout-row-new-actions {
    right: 0;
    width: 45px;
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
    opacity: 1;
    border-left: 1px solid rgba(51,64,77,0.1);
    color: #7b8793;
    font-weight: normal;
    background-color: #f3f7fc;
}

.superTable-layout-row-new-actions .floating .icon.delete:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 3px;
}



// ==========================================================================
// Matrix-Layout Styles
// ==========================================================================

body.ltr .superTableMatrix > .titlebar {
    padding: 5px 70px 5px 5px;
}

.superTableContainer.matrixLayout.static-field > .matrixLayoutContainer > .matrixblock {
    padding-top: 14px;
}

// ==========================================================================
// Provide special formatting for some field types.
// ==========================================================================




// ==========================================================================
// Provide special formatting for some third-party field types. Just to make things clean
// ==========================================================================

.superTableContainer .field .fruitlinkit .fruitlinkit-options,
.superTableContainer .field .fruitlinkit .fruitlinkit-type,
.superTableContainer .field .linkit .linkit-type {
    margin: 7px 0;
}

.superTableContainer .field .fruitlinkit .fruitlinkit-type {
    margin-right: 7px;
}

.superTableContainer .field .fruitlinkit .fruitlinkit-options,
.superTableContainer .field .fruitlinkit .fruitlinkit-type-option,
.superTableContainer .field .fruitlinkit .fruitlinkit-text,
.superTableContainer .field .fruitlinkit .fruitlinkit-target,
.superTableContainer .field .linkit .linkit-type-option,
.superTableContainer .field .linkit .linkit-text,
.superTableContainer .field .linkit .linkit-target {
    margin-bottom: 7px;
}

.superTableContainer .field[data-type="craft\\fields\\Number"] .flex:not(.flex-nowrap) > * {
    margin-bottom: 0 !important;
}

// Checkbox fields in Craft 3.5+
.superTableContainer .field[data-type="craft\\fields\\Checkboxes"] fieldset {
    margin: 0;
}

// Fix status indicator for rows/table
body.ltr .superTableRow .status-badge,
body.ltr .superTableColumn .status-badge {
    left: -11px !important;
}

body.rtl .superTableRow .status-badge,
body.rtl .superTableColumn .status-badge {
    right: -11px !important;
}

