{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% set title = 'Super Table' | t('super-table') %}

{% block content %}

<h2>{{ 'Check Content Tables' | t('isuper-table') }}</h2>

<p>{{ 'If you\'re updating from Craft 3.0.x, or are experiencing error messages with content tables, please use this tool to check for errors or inconsistencies.' | t('super-table') | md }}</p>

<p>{{ 'This tool will first check to see if there are any errors, then advise if you want to go ahead and fix them.' | t('super-table') | md }}</p>

{% if output is defined %}
    <hr>

    <code>{{ output | raw }}</code>

    <hr>
{% endif %}

{% if settings is defined %}
    <a class="btn submit" href="{{ actionUrl('super-table/plugin/check-content-tables') }}">{{ 'Check Content Tables' | t('super-table') }}</a>
{% endif %}

{% if checkErrors is defined %}
    {% if checkErrors %}
        <a class="btn submit" href="{{ actionUrl('super-table/plugin/fix-content-tables') }}">{{ 'Fix Content Tables' | t('super-table') }}</a>
    {% else %}
        <a class="btn submit" href="{{ cpUrl('super-table/settings') }}">{{ 'Done' | t('super-table') }}</a>
    {% endif %}
{% endif %}

{% if fixed is defined %}
    <a class="btn submit" href="{{ cpUrl('super-table/settings') }}">{{ 'Done' | t('super-table') }}</a>
{% endif %}

{% endblock %}