{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% set title = 'Super Table' | t('super-table') %}

{% block content %}

{% if checking is defined %}

    <h2>{{ 'Check Content Tables' | t('super-table') }}</h2>

    <p>{{ 'If you‘re updating from Craft 3.0.x, or are experiencing error messages with content tables, please use this tool to check for errors or inconsistencies.' | t('super-table') | md }}</p>

    <p>{{ 'This tool will first check to see if there are any errors, then advise if you want to go ahead and fix them.' | t('super-table') | md }}</p>

    {% if output is defined %}
        <hr>

        <code>{{ output | raw }}</code>

        <hr>
    {% endif %}

    {% if settings is defined %}
        <a class="btn submit" href="{{ actionUrl('super-table/plugin/check-content-tables') }}">{{ 'Check Content Tables' | t('super-table') }}</a>
    {% endif %}

    {% if checkErrors is defined %}
        {% if checkErrors %}
            <a class="btn submit" href="{{ actionUrl('super-table/plugin/fix-content-tables') }}">{{ 'Fix Content Tables' | t('super-table') }}</a>
        {% else %}
            <a class="btn submit" href="{{ cpUrl('super-table/settings') }}">{{ 'Done' | t('super-table') }}</a>
        {% endif %}
    {% endif %}

    {% if fixed is defined %}
        <a class="btn submit" href="{{ cpUrl('super-table/settings') }}">{{ 'Done' | t('super-table') }}</a>
    {% endif %}

    <hr>

{% endif %}

{% if resaving is defined %}

    <h2>{{ 'Re-save Super Table Fields' | t('super-table') }}</h2>

    <p>{{ 'Re-saving all your Super Table fields at once can help to fix content table issues. If any Super Table fields contain missing field types (as in, the plugin for the field is missing), it will be skipped. This will also include any nested Super Tables in Matrix fields.' | t('super-table') | md }}</p>

    {% if resaveOutput is defined %}
        <hr>

        <code>{{ resaveOutput | raw }}</code>

        <hr>

        <a class="btn submit" href="{{ cpUrl('super-table/settings') }}">{{ 'Done' | t('super-table') }}</a>
    {% else %}
        <a class="btn submit" href="{{ actionUrl('super-table/plugin/resave-fields') }}">{{ 'Re-save Fields' | t('super-table') }}</a>
    {% endif %}

{% endif %}

<br>

{% endblock %}