{% for blocktype in craft.superTable.getSuperTableBlocks(field.id) %}
    {% for blocktypefield in blocktype.getFields() %}

        {# Special-case when inside Matrix #}
        {% if parentField is defined and parentField.type == 'Matrix' %}
            {% set handlePrefix = parentField.handle ~ '--' ~ parentBlocktype.handle ~ '--' ~ field.handle ~ '--' ~ blocktype.id ~ '--' %}
            {% set labelName = parentField.name ~ ': ' ~ parentBlocktype.name ~ ': ' ~ field.name ~ ': ' ~ blocktypefield.name %}
            {% set labelHandle = parentField.handle ~ '[' ~ parentBlocktype.handle ~ '][' ~ field.handle ~ '][' ~ blocktypefield.handle ~ ']' %}
        {% else %}
            {% set handlePrefix = field.handle ~ '--' ~ blocktype.id ~ '--' %}
            {% set labelName = field.name ~ ': ' ~ blocktypefield.name %}
            {% set labelHandle = field.handle ~ '[' ~ blocktypefield.handle ~ ']' %}
        {% endif %}

        {% set variables = {
            field: blocktypefield,
            fieldtype: blocktypefield,
            feed: feed,
            feedData: feedData,
            handlePrefix:handlePrefix,
            labelName: labelName,
            labelHandle: labelHandle,
        } %}
        
        {% include 'feedme/_includes/field' with variables %}

    {% endfor %}
{% endfor %}
