{% if element is not defined %}{% set element = null %}{% endif %}
{% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}

{% namespace namespace %}
	{% for field in fields %}

		{# Additional field settings #}
		{% if settings is defined and settings %}
			{% set fieldId = field.getField().id %}
			
			{% if settings[fieldId] is defined %}
				{% set width = settings[fieldId].width %}
			{% endif %}
		{% endif %}

		{% if fieldLayout == 'row' %}

			<tr data-id="">
            	<td class="thin rowHeader">{{ field.getField().name }}</td>

        		<td>
					{% include "_includes/field" with {
						field:    field.getField(),
						required: field.required,
						element:  element,
						static:   (static is defined ? static : null)
					} only %}
				</td>

            	<td class="thin placeholder"></td>
            </tr>

		{% else %}
			<td {% if width is defined %}width="{{ width }}"{% endif %}>
				{% include "_includes/field" with {
					field:    field.getField(),
					required: field.required,
					element:  element,
					static:   (static is defined ? static : null)
				} only %}
			</td>
		{% endif %}
	{% endfor %}
{% endnamespace %}

