{% if element is not defined %}{% set element = null %}{% endif %}
{% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}

{% namespace namespace %}
	{% for field in fields %}

		{# Additional field settings #}
		{% if settings is defined and settings %}
			{% set fieldId = field.getField().id %}
			
			{% if settings[fieldId] is defined %}
				{% set width = settings[fieldId].width %}
			{% endif %}
		{% endif %}

		{% if settings is defined and settings.fieldLayout == 'row' %}

			<tr data-id="">
            	<td class="thin rowHeader">
            		<span class="heading-text {% if field.required %}required{% endif %}">
            			{{ field.getField().name }}
            		</span>
            	</td>

        		<td>
					{% include "_includes/field" with {
						field:    field.getField(),
						required: field.required,
						element:  element,
						static:   (static is defined ? static : null)
					} only %}
				</td>

				{% if settings.staticField is defined and not settings.staticField %}
	            	<td class="thin placeholder"></td>
            	{% endif %}
            </tr>

		{% else %}
			<td {% if width is defined and width %}style="width: {{ width }}px"{% endif %}>
				{% include "_includes/field" with {
					field:    field.getField(),
					required: field.required,
					element:  element,
					static:   (static is defined ? static : null)
				} only %}
			</td>
		{% endif %}
	{% endfor %}
{% endnamespace %}

