{% import "_includes/forms" as forms %}

{% includeCssResource 'supertable/css/supertable.css' %}
{% includeJsResource 'supertable/js/supertable.js' %}

<div class="superTableContainer">
    <table id="{{ id }}" class="shadow-box editable superTable" data-id="{{ tableId }}">
        <thead>
            <tr>
                {% for col in cols %}
                    <th scope="col" class="header">{{ col.heading }}</th>
                {% endfor %}
                <th class="header" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {% for rowId, row in rows %}
                <tr data-id="{{ rowId }}">
                    {% for colId, col in cols %}
                        {% set cellName = name~'['~rowId~']['~colId~']' %}
                        {% set value = (row[colId] is defined ? row[colId] : null) %}

                        <td class="{% if col.class is defined %}{{ col.class }}{% endif %} type-{{ col.type }}"{% if col.width is defined %} width="{{ col.width }}"{% endif %}>
                            {% include ['supertable/_fields/' ~ col.type|lower, 'supertable/_fields/blank'] %}
                        </td>
                    {% endfor %}

                    <td class="thin action"><a class="move icon" title="{{ 'Reorder'|t }}"></a></td>
                    <td class="thin action"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="btn add icon">{{ "Add a row"|t }}</div>

    <div class="row-spinner spinner hidden"></div>
</div>

{% set js %}
    new Craft.EditableSuperTable(
        "{{ id   | namespaceInputId   | e('js') }}",
        "{{ name | namespaceInputName | e('js') }}",
        {{ cols|json_encode|raw }});
{% endset %}

{% includeJs js %}
