{% import "_includes/forms" as forms %}

{% includeCssResource 'supertable/css/SuperTableConfigurator.css' %}

{% set blockTypeInput %}
	<table class="shadow-box editable">
		<thead>
			<tr>
				<th scope="col" class="header">{{ 'Column Heading'|t }}</th>
				<th scope="col" class="header">{{ 'Handle'|t }}</th>
				<th scope="col" class="header">{{ 'Type'|t }}</th>
				<th class="header" colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			{% for blockType in settings.getBlockTypes() %}
				{% for field in blockType.getFields() %}
					{% set fieldId = field.id %}
					{% set fieldType = field.getFieldType() %}

					<tr data-id="{{ fieldId }}" data-blockType="{{ blockType.id }}">
						<td class="textual">
							<textarea name="{{ 'blockTypes['~blockType.id~'][fields]['~fieldId~'][name]' }}" rows="1">{{ field.name }}</textarea>
						</td>

						<td class="textual code">
							<textarea name="{{ 'blockTypes['~blockType.id~'][fields]['~fieldId~'][handle]' }}" rows="1">{{ field.handle }}</textarea>
						</td>

						<td class="thin">
							{% include "_includes/forms/select" with {
								class: 'small',
								id: fieldId~'-type',
								name: 'blockTypes['~blockType.id~'][fields]['~fieldId~'][type]',
								options: fieldTypes,
								value: fieldType.getClassHandle(),
							} only %}
						</td>

						<td class="settings-col hidden">
							<div class="fieldtype-settings">
								<div>
									{% namespace 'blockTypes['~blockType.id~'][fields]['~fieldId~'][typesettings]' %}
										{{ fieldType.getSettingsHtml()|raw  }}
									{% endnamespace %}
								</div>
							</div>
						</td>

						<td class="thin action"><a class="settings icon" title="{{ 'Settings' | t }}"></a></td>
						<td class="thin action"><a class="move icon" title="{{ 'Reorder'|t }}"></a></td>
						<td class="thin action"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>

	<div class="btn add icon">{{ "Add a column"|t }}</div>

{% endset %}

<div class="supertable-configurator">
	{{ forms.field({
		label: "Configuration"|t,
		instructions: "Define the columns your Super Table should have."|t,
		name: 'config'
	}, blockTypeInput) }}
</div>
